
.main-container {
  min-width: 1000px;
  max-width: 1000px;
  margin-left: 15px;
  margin-right: 15px;
}

div {
  font-size: 13pt;
}

p {
  margin: 0 0 10px;
}

div.abstract {
  margin: auto;
  width: 90%;
}

p.abstract {
  text-align: center;
  font-weight: bold;
}

caption {
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
  color: black;
}

pre code {
  font-family: Consolas, "courier new";
}

.task {
  font-size: 15pt;
  color: green;
}

.r {
  width: 1100px;
  max-width: 1100px;
}

.table {
  width: 1100px;
  max-width: 1100px;
}

.note {
  font-size:14pt;
  font-weight: bold;
  color: purple;
  margin-top: 10px;
  margin-bottom: 10px;
}

.exer {
  font-size:14pt;
  font-weight: bold;
  color: darkorange;
}

